body {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

.flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p {
  font-size: 12px;
}

.delete-btn {
  font-size: 34px;
  margin-bottom: 80px;
}

.descriptionPara {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.glass {
background: rgba(255, 255, 255, 0.08);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9px);
-webkit-backdrop-filter: blur(9px);
border: 1px solid rgba(255, 255, 255, 0.09);
}


.search-bar {
  width: 20%;
  height: 50px;
  background-color: transparent;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 0 20px;
  color: white;
  transition: 200ms;
}


.search-bar:focus {
  width: 30%;
  outline: none;
}
