body {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

.flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p {
  font-size: 12px;
}

.delete-btn {
  font-size: 34px;
  margin-bottom: 80px;
}



.search-bar {
  width: 20%;
  height: 50px;
  background-color: transparent;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 0 20px;
  color: white;
  transition: 200ms;
}


.search-bar:focus {
  width: 30%;
  outline: none;
}